attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
dateparser==0.7.2
dill==0.3.1.1
feedfinder2==0.0.4
feedparser==5.2.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jieba3k==0.35.1
lxml==4.4.2
parsel==1.5.2
Pillow==7.0.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.10.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
queuelib==1.5.0
regex==2019.12.20
requests==2.22.0
requests-file==1.4.3
Scrapy==1.8.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
tinydb==3.15.2
tinysegmenter==0.3
tldextract==2.2.2
tqdm==4.41.1
Twisted==19.10.0
tzlocal==2.0.0
urllib3==1.25.7
w3lib==1.21.0
zope.interface==4.7.1
